body
{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
 


h1{
    text-align: center;
    font-size: 48px;
    background: -webkit-linear-gradient(#d70dff,rgba(223, 5, 150, 0.603),rgb(234, 11, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
    
}
p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: -webkit-linear-gradient(rgb(255, 0, 217),rgb(255, 38, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
