*{
    padding: 0;
}

#container {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #FAFAFA;;
}

.profile {
    position: absolute;
    left: 8%;
    right: 8%;
    top: 24.88%;
    bottom: 63.42%;
    
    background: #19202D;
    box-shadow: 2px 15px 17px rgba(0, 0, 0, 0.25);
    border-radius: 2%;



    position: absolute;
left: 64%;
right: 35.73%;
top: 28.45%;
bottom: 66.87%;

background: #C1D4F9;
opacity: 0.2;
}
.SEARCH {
    position: absolute;
    left: 8%;
    right: 25.87%;
    top: 80.17%;
    bottom: 2.22%;
    
    background: url(bgn.png);
    background-repeat: no-repeat;
    
}